<div class="login-container">
    <div class="login-card">
        <div class="brand">
            <img src="assets/logoV3.png" alt="Valora Logo" class="brand-logo" style="height: 90px;">
            <p>Nueva Contraseña</p>
        </div>

        <form (submit)="onSubmit(); $event.preventDefault()">
            <p style="color: #64748b; font-size: 0.9rem; margin-bottom: 1.5rem; text-align: center;">
                Ingresa tu nueva contraseña para acceder a tu cuenta.
            </p>

            <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <div class="input-wrapper">
                    <span class="material-icons input-icon">lock</span>
                    <input type="password" id="password" [(ngModel)]="newPassword" name="password"
                        placeholder="••••••••" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <div class="input-wrapper">
                    <span class="material-icons input-icon">lock_reset</span>
                    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                        placeholder="••••••••" class="form-control" required>
                </div>
            </div>

            <button type="submit" class="btn-login" [disabled]="isLoading" style="margin-top: 2rem;">
                <span *ngIf="!isLoading">Restablecer Contraseña</span>
                <div *ngIf="isLoading" class="spinner"></div>
            </button>
        </form>
    </div>
</div>