<aside class="sidebar-container sidebar-wrapper.collapsed">
  <div class="brand" style="height: auto; padding: 20px 0">
    <img
      src="assets/logo.png"
      alt="Valora"
      style="height: 10rem; width: auto; margin: 0 auto"
      class="logo-dash"
    />
  </div>

  <div class="user-profile-summary"></div>

  <nav class="navigation">
    <ul>
      <li *ngFor="let item of navItems">
        <a
          [routerLink]="item.route"
          class="nav-link"
          [class.active]="item.active"
          (click)="onNavigate()"
        >
          <span class="material-icons nav-icon">{{ item.icon }}</span>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer"></div>
</aside>


